
.block {
    padding: 5rem 2rem;
}
.block--dark {
    background: #000;
    color: #7b858b;
}
.block--skewed--left {
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.grid {
    display: grid;
}
.block__header {
    text-align: center;
    justify-self: center;
    align-self: center;
    margin-bottom: 4rem;
}

.block--dark h1 {
    color: #fff;
    margin-top: 0;
}

.hero__tagline {
    font-size: 2rem;
    color: #b9c3cf;
    letter-spacing: 1px;
    margin: 2rem 0 5rem;
}

.btn--accent {
    background: rgb(255, 52, 0);
    color: #fff;
}
.btn--accent:hover {
    background: rgb(190, 103, 83);
    color: #b9c3cf;
}
.btn {
    text-transform: uppercase;
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    padding: 2rem 2vw;
    text-align: center;
    font-weight: 600;
    outline: 0;
}
.btn--stretched {
    padding-left: 6rem;
    padding-right: 6rem;
}

.hero__image {
    width: 100%;
}

.hero__btn {
    display: grid;
}

.btn--white {
    color: #fff;
}
.btn--white:hover {
    color: #b9c3cf;
}

@media screen and (min-width: 768px) {
    .grid--1x2 {
        grid-template-columns: repeat(2, 1fr);
    }
    .hero__btn {
        display: flex;
    }
    .hero__second-btn {
        font-weight: 300;
    }
    
}