:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
}

::selection {
  background: var(--color-primary);
  color: #fff;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}


html{
    /* 62.5% of 16px => 10px; */
    font-size: 62.5%;
}

body{
  font-family: Inter, Arial, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  line-height: 1.5;
  font-size: 2.4rem;
  margin: 0;
}

h1,
h2,
h3{
    color: var(--color-headings);
    margin-bottom: 1rem;
    line-height: 1.1;
}